/* Seccion Formulario */
.Ayuda-general{
    background-color:aquamarine;
    padding: 40px;
    padding-top:100px;
    border: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.div-ayuda-formulario{
    justify-content: center;
    background-color: coral;
    padding: 30px;
    border : 3px solid black;
    width: 100%;
    max-width: 500px;
}

.campo{
    background-color: aqua;
    padding: 15px;
    border: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.Formulario label{
    display: flex;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 18px;
}

/*Para las cajas input select */
.Formulario input[type="text"], .Formulario select {
    width: 100%;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.Lista-checkbox, .Lista-radio{
    list-style: none;
    padding: 10px;
    margin:0;
    border:1px;
}

.Formulario button {
    background-color: aquamarine;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}