/* Seccion Formulario */
.Ayuda-general{
    background-color: #ffe8e8; /* lavanda muy suave */
    padding: 2.5rem;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Contenedor del formulario */
.div-ayuda-formulario{
    background-color: #ffffff; /* blanco */
    padding: 1.875rem;
    border: 2px solid #ffb6a4; /* borde púrpura suave */
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.campo{
    background-color: #ffe8e8; /* fondo lilac suave */
    padding: 0.938rem;
    border-radius: 8px;
    margin-bottom: 10px;
}

.Formulario label{
    display: flex;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: #a3a08a; /* púrpura oscuro */
}

/* Inputs y selects */
.Formulario input[type="text"], 
.Formulario select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d6db9d;
    border-radius: 6px;
    background-color: #ffffff;
    box-sizing: border-box;
    outline: none;
    transition: 0.2s ease;
}

.Formulario input[type="text"]:focus,
.Formulario select:focus {
    border-color: #81924f;
    box-shadow: 0 0 5px rgba(27, 154, 52, 0.4);
}

.Lista-checkbox, 
.Lista-radio {
    list-style: none;
    padding: 0.625rem;
    margin: 0;
}

.Formulario button {
    background-color: #89aa24; /* púrpura vibrante */
    color: white;
    padding: 0.625rem 1.25rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.2s ease;
}

.Formulario button:hover {
    background-color: #9a1b1b;
}
